{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>

    {% comment %} boostrap {% endcomment %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    {% comment %} css {% endcomment %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% comment %} font-awesome {% endcomment %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">

</head>
<body>
    <header class="header sticky-top">
        <div class="header-container d-flex">
            <nav class="header-nav pt-3">
                <ul class="header-list d-flex">
                    <li><a href="/" class="nav-a m-3">Home</a></li>
                    <li><a href="/shop" class="nav-a m-3">Shop</a></li>
                    <li><a href="/assistant" class="nav-a m-3">Assistant</a></li>
                </ul>
            </nav>
    
            <div class="header-logo">
                <a href="/"><img src="{% static 'img/petshopimg.jpg' %}" alt="" class="petshop-logo"></a>
            </div>

            <form id="search-form" action="{% url 'main:product_search' %}" method="get" class="position-relative d-flex align-items-center mx-3">
                <input type="text" id="search-input" name="q" class="form-control" placeholder="Пошук товарів…" autocomplete="off">
            <button type="submit" class="btn btn-outline-secondary ml-2">🔍</button>
            <div id="suggestions" class="list-group position-absolute w-100" style="top:100%; z-index:1000;">
            </div>
            </form>             
    
            <div class="header-profile pt-2">
                <a href=""><img src="{% static 'img/bookmark-heart.svg' %}" width="30" height="30" class="heart-mark" alt=""></a>
                <a href="{% url "cart:cart_detail" %}"><img src="{% static 'img/basket.svg' %}" width="27" height="28" class="basket" alt=""></a>
                {% if user.is_authenticated %}
            <a href="{% url 'users:profile' %}" class="m-2">
                {% if user.image %}
                    <img src="{{ user.image.url }}" alt="Profile" class="rounded-circle" style="width: 34px; height: 34px; object-fit: cover;">
                {% else %}
                    <img src="{% static 'img/person-circle.svg' %}" width="40" height="40" class="person-circle" alt="" style="opacity: 0.85;">
                {% endif %}
            </a>
                {% else %}
                    <a href="{% url 'users:login' %}" class="m-2">LOGIN</a>
                {% endif %}
                <p class="cart-quantity">
                    {% with cart_quantity=cart|length %}
                        {% if cart_quantity > 0 %}
                            {{ cart_quantity }}
                        {% else %}
                            0
                        {% endif %}
                    {% endwith %}
                </p>
            </div>
        </div>
    </header>    

    <div class="container">
        {% block content %}
        {% endblock content %}
    </div>




    {% comment %} js bootstrap {% endcomment %}
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    {% comment %} js autosearch {% endcomment %}
    <script>const AUTOCOMPLETE_URL = "{% url 'main:autocomplete' %}";</script>
    {% comment %} search js {% endcomment %}
    <script src="{% static 'js/search.js' %}"></script>
    {% comment %} script js {% endcomment %}
    <script src="{% static 'js/script.js' %}"></script>

</body>
</html>