/*Media queries*/

/*large than 575px screen*/

@media (min-width: 575px) {

    :root {
        --fs-2: 4rem;
        --fs-3: 2.6rem;
    }

    .scrollbar-item { min-width: calc(50% - 15px); }

    .grid-list { grid-template-columns: 1fr 1fr; }

    .hero {
        display: grid;
        padding-inline-start: 20px;
        justify-content: flex-start;
        align-items: center;
    }

    .offer .grid-list { 
        display: grid;
        grid-template-columns: 1fr;
    }

    .product-card .card-banner { position: relative; }

    .product-card .card-action-btn,
    .product-card .fav-action-btn,
    .product-card .info-action-btn,
    .product-card .card-banner .hover {
        display: block;
        position: absolute;
    }

    .product-card .card-banner .hover {
        top: 0;
        left: 0;
    }

    .product-card:is(:hover, :focus-within) .default,
    .product-card .hover { opacity: 0; }

    .product-card .default,
    .product-card:is(:hover, :focus-within) .hover { opacity: 1; }

    .product-card .card-action-btn {
        top: 15px;
        right: 15px;
        color: var(--eerie-black);
        font-size: 20px;
        background-color: var(--white);
        border: 1px solid var(--platinum);
        padding: 12px;
        border-radius: 50%;
        transition: var(--transition-1);
        opacity: 0;
    }

    .product-card .card-action-btn:is(:hover, :focus) {
        background-color: var(--portland-orange);
        border-color: var(--portland-orange);
        color: var(--white);
    }

    .product-card:is(:hover, :focus-within) .card-action-btn { opacity: 1; }

    .product-card .fav-action-btn {
        top: 70px;
        right: 15px;
        color: var(--eerie-black);
        font-size: 20px;
        background-color: var(--white);
        border: 1px solid var(--platinum);
        padding: 12px;
        border-radius: 50%;
        transition: var(--transition-1);
        opacity: 0;
    }

    .product-card .fav-action-btn:is(:hover, :focus) {
        background-color: var(--onyx);
        border-color: var(--onyx);
        color: var(--white);
    }

    .product-card:is(:hover, :focus-within) .fav-action-btn { opacity: 1; }

    .product-card .info-action-btn {
        top: 125px;
        right: 15px;
        color: var(--eerie-black);
        font-size: 20px;
        background-color: var(--white);
        border: 1px solid var(--platinum);
        padding: 12px;
        border-radius: 50%;
        transition: var(--transition-1);
        opacity: 0;
    }

    .product-card .info-action-btn:is(:hover, :focus) {
        background-color: var(--onyx);
        border-color: var(--onyx);
        color: var(--white);
    }

    .product-card:is(:hover, :focus-within) .info-action-btn { opacity: 1; }

    .cta .img { width: 250px; }

    .cta .h2 { --fs-2: 3.2rem }

    .brand .scrollbar-item { min-width: 25%; }

    .footer-top .container { grid-template-columns: 1fr 1fr; }

    .serv-card.has-bg-image.img-holder {
        width: 100%;
        max-width: 1000px;
        aspect-ratio: 1000 / 374;
        background-size: cover;
        background-position: center;
    }
    
}

/*large than 768px screen*/

@media (min-width: 768px) {

    :root {
        --fs-1: 9rem;
    }

    .scrollbar-item { min-width: calc(33.33% - 20px); }

    .grid-list { grid-template-columns: repeat(3, 1fr); }

    .hero {
        aspect-ratio: 1512 / 784;
        padding-inline-start: 10%;
        display: grid;
        padding-inline-start: 20px;
        justify-content: flex-start;
        align-items: center;
    }

    .hero-text {
        font-size: 2.4rem;
        display: block;
    }

    .offer .grid-list { 
        display: grid;
        grid-template-columns: repeat(3, 1fr) !important;
    }

    .cta-banner { display: block; }

    .cta .container {
        display: grid;
        grid-template-columns: 1fr 0.75fr;
        align-items: flex-end;
    }

    .footer-bottom .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .serv-card.has-bg-image.img-holder {
        width: 100%;
        max-width: 1200px;
        aspect-ratio: 1200 / 374;
        background-size: cover;
        background-position: center;
    }
}

/*large than 992px screen*/

@media (min-width: 992px) {

    :root {
        --fs-1: 12rem;
        --fs-3: 3rem;

        --section-padding: 50px;
    }

    .container { padding-inline: 30px; }

    .scrollbar-item { min-width: calc(20% - 24px); }

    .hero { margin-block-start: 0; }

    .category-card .h3 { --fs-3: 2rem }

    .service .grid-list { grid-template-columns: repeat(4, 1fr); }

    .service-card .h3 { --fs-3: 2.4rem; }

    .brand .scrollbar-item { min-width: 20%; }
    
    .footer-top .container { grid-template-columns: 1fr 0.5fr 0.5fr 0.5fr; }

    .serv-card.has-bg-image.img-holder {
        width: 100%;
        max-width: 1400px;
        aspect-ratio: 1400 / 374;
        background-size: cover;
        background-position: center;
    }
}

@media (min-width: 1154px) {

    :root {
        --fs-1: 12rem;
        --fs-3: 3rem;

        --section-padding: 50px;
    }

    .nav-toggle-btn,
    .navbar-action-btn { display: none; }

    .header {
        --color: var(--white);
        background: none;
    }

    .header.active {
        --color: var(--black);
        background-color: var(--white);
    }

    .header .logo,
    .header .action-btn { color: var(--color); }

    .header .action-btn.user { display: block; }

    .header .action-btn.heart { display: block; }

    .logo { 
        font-size: 3.8rem;
    }

    .navbar,
    .navbar.active {
        all: unset;
        margin-inline-end: auto;
    }

    .navbar-list {
        display: flex;
        gap: 10px;
    }

    .navbar-link {
        color: var(--color);
        --fs-6: 1.7rem;
        font-weight: var(--fw-700);
        transition: var(--transition-1);
    }

    .header.active .navbar-link:is(:hover, :focus) {
        color: var(--portland-orange);
    }
}

/*large than 1200px screen*/

@media (min-width: 1200px) {

    :root {
        --fs-1: 15rem;
        --fs-3: 3.2rem;
    }

    .offer .grid-list {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .product .grid-list { grid-template-columns: repeat(4, 1fr); }

    .service .grid-list { grid-template-columns: repeat(4, 1fr); }

    .cta-content { padding-block: 100px; }

    :is(.brand, .footer) .container {
        max-width: 1200px;
        width: 100%;
        margin-inline: auto;
    }

    .footer { padding-block-start: 40px; }

    .serv-card.has-bg-image.img-holder {
        width: 100%;
        max-width: 1600px;
        aspect-ratio: 1600 / 374;
        background-size: cover;
        background-position: center;
    }
}

/*large than 1900px screen*/

@media (min-width: 1900px) {

    .product .grid-list { grid-template-columns: repeat(5, 1fr); }
}

/*large than 2200px screen*/

@media (min-width: 2200px) {

    .product .grid-list { grid-template-columns: repeat(6, 1fr); }
}